@import "tailwindcss";
@theme {
    --color-base-bg: #f5eade;
    --color-base-text: #57805b;
    --color-alt-text: #cd663d;
    --color-light-green: #9dbfab;
    --color-light-orange: #eec3a9;
    --color-base-form: #405443
}

@layer base{
    html, body{
        height: 100%;
    }
    #root{
        height: 100%;
    }
    form input{
        border-width: thick;
        margin: 0.5em;
    }
    form input:focus{
        outline: none;
    }
    table{
        margin-bottom: 1em;
        margin-top: 1em;
        width: 100em;
        text-align: left;
    }
}



